<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Edit a teacher</h1>
    <form method="POST" action="/edit-teacher/?nid={{ tchr_info.tid }}">
        <p>Teacher name: <input type="text" name="tchr_name" value="{{ tchr_info.tname }}"/></p>
        <p>Class name:
            <select multiple size="5" name="class_ids">
                {% for item in class_list %}
                    {% if item.cid in class_ids %}
                        <option selected value="{{ item.cid }}">{{ item.cname }}</option>
                    {% else %}
                        <option value="{{ item.cid }}">{{ item.cname }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>